<form class="" action="/create" method="post">
  <h2>Create your text snippet here!</h2><br>
  <h4>Put your name here</h4>
  <input type="text" name="name" value="" placeholder="here">
  <h4>What is the name of your Snippet?</h4><br>
  <input type="text" name="snippetName" value="" placeholder="Place name of Snippet here">
  <h3>What language are you coding in?</h3><br>
  <input type="text" name="language" value="" placeholder="Place language here">
  <textarea name="snippet" placeholder="  Go ahead and type your snippet!">
  </textarea>
  what tags should you use to search for?<br>
  <input type="text" name="tags" value="" placeholder="tags">

  <button type="submit" name="button">Create away!</button>

</form>
