<a href='/create'>CREATE SNIPPET</a>
<br>
<br>
This is a list of all the snippets that are..<br>


<div class="snippets">
{{#snippets}}
<div class="snippetList">
  <div class="snip">Who made this: {{name}}<br></div>
  <div class="snip">Language: <a href="/language/{{language}}">{{language}}</a>"<br></div>
  <div class="snip">Title: {{snippetName}}<br></div>
  <div class="snip">Code: {{snippet}}<br></div>
  <div class="tags">
    {{#tags}}
      <a href="/tags/{{.}}">{{.}}</a>
    {{/tags}}
  </div>
  <div class="snippetLinks">
    <a href='/single/{{_id}}'>View this snippet</a>
  {{#canEdit}}
    <div class="snip"><a href="/editdelete/{{_id}}">EDIT OR DELETE</a><br></div>
  {{/canEdit}}
  <!-- <div class="snip"><a href="/delete/{{_id}}">DELETE</a></div> -->
</div>
</div>
{{/snippets}}
</div>
