<a href="/login">LOGIN</a>
<form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="email" value="" placeholder="email">
  <button type="submit" name="button">Sign up!</button>

</form>
