

<br><br><a href="/user">Back</a><br><br>
{{#data}}
<div class="snippetBorder">

Name : {{name}}<br>
Title : {{snippetName}}<br>
<br>
Code : {{snippet}}<br>
<br>
Tags : {{tags}}<br>
</div>
{{/data}}
