body {
  flex-direction: column;
  font-family: sans-serif;
  margin: 20px;
  text-align: center;
  background: pink;

}

a {

  border: solid blue 1px;
  border-radius: 4px;
  color: blue;
  font-weight: bold;
  height: 25px;
  margin: 2px;
  padding: 5px;
  text-decoration: none;



}

.snippetLink {
  display: flex;
  flex-direction: row;

}

.snippet {
  display: flex;
  flex-direction: column;


}

.snippetList {
  border: solid black 1px;
  border-radius: 5px;
  justify-content: flex-start;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 400px;
}

.snippetBorder {
  border: solid black 1px;
  border-radius: 5px;
  justify-content: flex-start;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 400px;
}
.snip {
  display: flex;
  flex-direction: column;
}
